@media (min-width: 768px) {

  .inner-page {
    background-position: left 2rem;
  }

  .member-card,
  .col, .col-4 {
    width: 33.3333%;
  }
  .col-8 {
    width: 66.6666%;
  }

  .col {
    img {
      width: calc(100% + 45px);
      margin: -6px 0 0 -45px;
    }
  }

  #front-page, #back-page {
    .front-logo {
      background-size: 75%;
      min-height: 165px;
    }
    .feature-img {
      height: 420px;
    }
    .front-content {
      margin-top: -75px;
      padding-top: 80px;
    }
  }
  
}